
.reactive-button {
    -fx-background-color:  #20202d;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
}


.reactive-button:hover {
    -fx-background-color: derive( #20202d, 20%);
}


.colorfulButton1 {
    -fx-background-color: transparent;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-text-fill: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
    -fx-border-color: linear-gradient(to left, #020024, #090f79,#00d4ff);
    -fx-border-width: 10;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}


.colorfulButton1:hover {
    -fx-background-color: linear-gradient(to left, #020024, #090f79, #00d4ff);
    //-fx-text-fill: white;
}




